<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home server</title>
    <link rel="stylesheet" href="{{style_href}}" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body>
    <div class="container">
      <h1>Blog</h1>
      <button hx-post="/like" hx-target="#likes">Like</button>
      <div id="likes" hx-get="/likes" hx-trigger="every 2s">Likes</div>

      <form hx-post="/posts">
        <textarea></textarea>
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
