{% extends base %}

{% block postamble %}
<link href="./src/input.css" rel="stylesheet">
{% endblock %}

{% block contents %}
	{% for doc in docs %}
	{{ embed(doc) if doc.elementid }}
    <div class="flex flex-row space-x-2 w-screen h-screen bg-gray-100">
	{% for root in doc.roots %}
		{% if root.name == 'navigation' %}
			<div class="z-10 h-screen bg-white">
                <div class="flex flex-row justify-center">
                    <div class="py-4 text-xl">Navigation</div>
                </div>
				{{ embed(root) | indent(10) }}
			</div>
        {% else %}
            <div class="flex-grow h-screen p-2">
			{{ embed(root) | indent(10) }}
            </div>
        {% endif %}
	{% endfor %}
    </div>
	{% endfor %}
{% endblock %}
